# ==============================================================================
# ARCHIVOS IGNORADOS EN EL PROYECTO STRATOCASTER
# ==============================================================================

# Volúmenes y persistencia de Docker (Evita subir bases de datos y configuraciones locales)
docker-TIG/influxdb/
docker-TIG/mosquitto/data/
docker-TIG/mosquitto/log/
docker-TIG/grafana/*
!docker-TIG/grafana/provisioning/
docker-broadcast/images/
images/

# Archivos con credenciales y contraseñas (Secretos)
.env
docker-TIG/.env
codigo/Android/sonda.env

# Archivos temporales y logs de ejecución
*.tmp
*.log
codigo/Android/*.tmp
codigo/Android/*.log
capturas/
/tmp/

# Carpetas de editores y sistemas operativos
.vscode/
.idea/
.obsidian/
.DS_Store
Thumbs.db
