# ==============================================================================
# ARCHIVOS IGNORADOS EN EL PROYECTO STRATOCASTER
# ==============================================================================

# Volúmenes y persistencia de Docker (Evita subir bases de datos y configuraciones locales)
docker-TIG/influxdb/
docker-TIG/mosquitto/data/
docker-TIG/mosquitto/log/
docker-TIG/grafana/*
!docker-TIG/grafana/provisioning/

# Archivos con credenciales y contraseñas (Secretos)
.env
docker-TIG/.env
codigo/Android/sonda.env
docker-TIG/.env.staging
legacy/docker-broadcast/.env
legacy/docker-broadcast/.env.staging
legacy/docker-broadcast/images/
legacy/android-control/sonda.env_staging
legacy/mosquitto-certs/certs/*.key
codigo/RXLora/secrets.h
docker-TIG/mosquitto/config/password_file
__pycache__/
*.pyc

# Archivos temporales y logs de ejecución
*.tmp
*.log
codigo/Android/*.tmp
codigo/Android/*.log
capturas/
/tmp/

# Carpetas de editores y sistemas operativos
.vscode/
.idea/
.obsidian/
.DS_Store
.figma/
Thumbs.db
