# Variables de Entorno para la Estación de Control e Image-Store

# Credenciales de inicio de sesión en la Web de Control (Humano/Operador)
CONTROL_USER=operador
CONTROL_PASS=CAMBIAR_ESTA_CONTRASENA

# Credenciales del Broker Mosquitto MQTT
TELEGRAF_MQTT_USER=telegraf
TELEGRAF_MQTT_PASSWORD=CAMBIAR_PASSWORD_TELEGRAF
MQTT_HOST=mosquitto
MQTT_PORT=1883
MQTT_COMMAND_USER=control-service
MQTT_COMMAND_PASSWORD=CAMBIAR_PASSWORD_CONTROL
MQTT_VIEW_USER=control-view
MQTT_VIEW_PASSWORD=CAMBIAR_PASSWORD_LECTURA
SONDA_DEVICE_ID=movil_sonda_1
VDO_NINJA_VIEW_URL=https://vdo.ninja/?view=sonda_stratocaster

# Clave secreta para firmar cookies de sesión Flask
FLASK_SECRET_KEY=GENERAR_CLAVE_ALEATORIA_LARGA
