# Variables de Entorno para la Estación de Control e Image-Store

# Credenciales de inicio de sesión en la Web de Control (Humano/Operador)
CONTROL_USER=admin
CONTROL_PASS=AWLCxdfGxwohHF2qpScJLK9AbRAFxD

# Credenciales del Broker Mosquitto MQTT
TELEGRAF_MQTT_USER=admin
TELEGRAF_MQTT_PASSWORD=AWLCxdfGxwohHF2qpScJLK9AbRAFxD

# Clave secreta para firmar cookies de sesión Flask
FLASK_SECRET_KEY=stratocaster_super_secret_session_key_2026
