#ifndef SECRETS_H
#define SECRETS_H

#define WIFI_SSID       "TU_WIFI_AQUÍ"
#define WIFI_PASSWORD   "TU_PASSWORD_WIFI_AQUÍ"
#define MQTT_SERVER     "TU_DOMINIO_O_IP_AQUÍ"
#define MQTT_PORT       1883
#define MQTT_CLIENT_ID  "LoRaReceiver"
#define MQTT_USER       "admin"
#define MQTT_PASS       "TU_CONTRASEÑA_MQTT_AQUÍ"

#endif